.special-image {
    height: 200px;
}

.price {
    padding: 5px;
    background-color: rgba(197, 207, 216, 1);
    position: absolute;
    bottom: 50px;
    right: 0;
}

.special-button {
    background-color: rgb(97, 94, 236);
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 10px;
    margin-right: 4px;
}
